.not-found{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.not-found__title {
    font-size: 60px;
}

.not-found__text {
    font-size: 20px;
}

.not-found__image {
    width: 600px;
    height: auto;
}